<div class="login-container">
  <form class="login-form" (ngSubmit)="login()">
      <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required />
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required />
      <div class="buttons">
          <button type="submit">Login</button>
      </div>
      <div class="buttons">
          <button type="button" (click)="navigate('/signup')">Sign Up</button>
      </div>
      <div *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
      </div>
  </form>
</div>
