<app-header></app-header>
<div class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <i class="material-icons profile-icon">account_circle</i>
      <h1>{{ user?.name || 'User' }} Profile</h1>
    </div>

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Personal Information">
        <form [formGroup]="personalForm" class="profile-form" (ngSubmit)="updatePersonal()">
          <div class="input-group">
            <label>Email</label>
            <input formControlName="email" type="email" readonly>
          </div>

          <div class="input-group">
            <label>Name</label>
            <input formControlName="name" type="text">
          </div>

          <div class="input-group">
            <label>Nickname</label>
            <input formControlName="nickname" type="text">
          </div>

          <div class="input-group">
            <label>Address</label>
            <input formControlName="address" type="text">
          </div>

          <button type="submit" class="btn-save">Save Changes</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
