html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(135deg, #357ae1, #070e43) fixed;
}

body {
  min-height: 100vh;
  display: block;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
}
